.editImage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.editImage button {
  font-size: 1rem;
  padding: 0.5rem;
}

.editorUI {
  display: block;
  flex-shrink: 0;
  flex-basis: 30%;
}

.editControl {
  padding: 0.5rem;
}

.editControl input {
  font-size: 1.2rem;
  width: 100px;
  margin-left: 0.5rem;
}

.editedDisplay {
  display: block;
  flex-basis: 70%;
}

.imagePreview, .imageOriginal {
  background-color: #333;
}

.imagePreview {
  margin-right: 1rem;
}

.experimental {
  flex-basis: 100%;
}

.gaussianMap {
  display: inline-flex;
  border: 1px solid red;
}